{% extends "base.html.twig" %}
{# coper ça appartir de doc et modifier le mo form par le nom donnée au formulair
formArticle#}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
{#les dev de symfony creer des moteurs de rendu twig#}
<div class="container">
<h1>Creation d'un article</h1>

{{ form_start(formArticle) }} {# debut de formulaire#}

{# notre titre on lui donne un tableau de des attr et des values #}
{{ form_row(formArticle.title, {'attr': {'placeholder': "Titre de l'article"}}) }}
{{ form_row(formArticle.content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
{{ form_row(formArticle.image, {'attr': {'placeholder': "URL  de l'image"}}) }}

{# {{ form_widget(formArticle) }} afficher un champs #}
<button type="submit"  class="btn btn-success" style="background-color: #EB6864; border-color: #EB6864;">

{% if editMode %}
Enregistrer les modifications
{% endif %}
Ajouter l'article</button>

{{ form_end(formArticle) }} {# fin de formulair#}


</div>
{% endblock %}