{% extends "base.html.twig" %}

{% block body %}
<div class="container">
<article>
        <h2>{{ article.title }}</h2>
        <div class="metadata">Ecrit le{{ article.createdAt | date ('d/m/Y') }} à {{ article.createdAt | date('H:i')}} dans la catégorie politique</div>
        <div class="content">

            <img src="{{ article.image }}" alt="" height="500px" width="500px">
            {{ article.content | raw }}
       
     </div>
    </article>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, officiis exercitationem possimus placeat magni iusto maxime nulla laudantium fugit quidem incidunt fugiat animi atque praesentium culpa nisi. Sequi ratione incidunt modi nulla dolore atque laudantium iure laborum? Aperiam minima voluptatem nulla ex deleniti fuga, quam sequi harum. Temporibus, velit alias!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, itaque. Sunt cum nesciunt soluta dolorum, sed quos, iste iusto deserunt quo at saepe ea itaque, consectetur harum cupiditate enim doloribus consequuntur optio in asperiores assumenda facilis odio ab dolorem? Harum quam voluptas, minus molestias tempora praesentium! Nobis fugiat cumque possimus.</p>

</div>
{% endblock %}