{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
 <div class="jumbotron container my-5">
    <h1 class="text-center">Page not found</h1>
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or return to the <a href="{{path('blog')}}"><strong>homepage</strong></a>.
    </p>
 </div>
{% endblock %}